@model MVC.App.Models.UserViewModel
@inject LocService SharedLocalizer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString(nameof(UserViewModel.NickName))
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class = "col-sm-2">
            @SharedLocalizer.GetLocalizedHtmlString(nameof(UserViewModel.Email))
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to form</a>
</div>
</body>
</html>
